{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <h1>Inscription</h1>
        <form action="{{ path('user_registration') }}" method="post">

            {{ form_start(form, {'method':'POST'}) }}

            {{ form_row(form.customer_lastname) }}

            {{ form_row(form.customer_email) }}
            {{ form_row(form.customer_password) }}

            {{ form_row(form.customer_firstname) }}
            {{ form_row(form.customer_address) }}
            {{ form_row(form.customer_postal_code) }}
            {{ form_row(form.customer_city) }}
            {{ form_row(form.customer_birthdate) }}

            <button class="btn btn-primary" type="submit">Register</button>

            {{ form_end(form) }}
        </form>
    </div>
{% endblock %}